.product-page-title {
    text-align: left;
    padding-top: 5px;
    margin-top: 2px;
}

.product-page-price{
    text-align: left;
    font-size: 12px;;
    font-weight: bold;
    color: blue;
}
.middle-btn{
    
}

.MiddleProduct {
   padding: 8px; 
}
.brand-text{
    text-align: left;
    font-size: 12px;
    font-weight: 600;
    
}

.share-this-product{
    font-size: 15px;
}



@media only screen and (max-width: 600px) {
    .MiddleProduct {
       
        margin-left: 30px;
    }
    
    }
    
    
    
    @media only screen and (min-width: 600px) {
    
        .MiddleProduct {
            background-color: white;
            margin-left: 30px;
        }
    
    }
    
   






