.alarmWindow {
  position: fixed;
  opacity: 0.95;
  width: 100%;
  
  right: 0px;
  top: 45px;
  font-weight: 900;
  text-align: center;
  
  border-radius: 20px;
  background: white;
	color: blue;
	text-transform: uppercase;
	font-family: "Open Sans Condensed";
  z-index: 300;
  
 transform: translateY(-395%);
  transition: transform 0.6s ease-out;
}

.alarmWindow.show{
  transform: translateY(0);
transition: transform 0.6s ease-out;
} 