.productPage {
width:100%;
background-color: #f7f7f7;
display: flex;
flex-direction: row;


}

.product-container{
width:100%;
}

.Header-productPage{
    display: flex;
}

.container-productPage {
    display: flex;
    margin-top: 70px;
    position: relative;
    top: 1px;
    left: 1px;
        z-index:-3;
   
}
.product-container{
position: relative;
    top: 1px;
    left: 1px;
        z-index:-5;
}

.PicComponent{
       
        padding: 30px;
        display: flex;
        flex-direction: column;
        position: relative;
    top: 1px;
    left: 1px;
        z-index:-1;

    }


.DiscComponent{
        width: 25%;
        padding: 30px;
        display: flex;

    }







    @media only screen and (max-width: 600px) {
    .product-container{
position: relative;
    top: 1px;
    left: 1px;
        z-index:-5;
}
     .container-productPage {
    display: flex;
    margin-top: 70px;
    position: relative;
    top: 1px;
    left: 1px;
        z-index:-3;
   
}
       .PicComponent{
         width: 80%;
        padding: 30px;
        display: flex;
        flex-direction: column;
        position: relative;
    top: 1px;
    left: 1px;
    z-index:-1;

    }
        .MiddleComponent{
            width: 25%;
            padding: 10px;
            display: flex;
            margin-left: 5px;
    
        }
        
        }
        
        
        
        @media only screen and (min-width: 600px) {
        
            .MiddleComponent{
                width: 25%;
                padding: 30px;
                display: flex;
        
            }
        
        }
        
       







