.productPage {
width:100%;
background-color: #f7f7f7;
display: flex;
flex-direction: row;


}

.product-container{
width:100%;
}

.Header-productPage{
    display: flex;
}

.container-productPage {
    display: flex;
    margin-top: 70px;
   
}


.PicComponent{
       
        padding: 30px;
        display: flex;

    }


.DiscComponent{
        width: 25%;
        padding: 30px;
        display: flex;

    }







    @media only screen and (max-width: 600px) {
        .container-productPage {
            display: flex;
            flex-direction: column;
            margin-top: 70px;
           
        }
       .PicComponent{
         width: 80%;
        padding: 30px;
        display: flex;

    }
        .MiddleComponent{
            width: 25%;
            padding: 10px;
            display: flex;
            margin-left: 5px;
    
        }
        
        }
        
        
        
        @media only screen and (min-width: 600px) {
        
            .MiddleComponent{
                width: 25%;
                padding: 30px;
                display: flex;
        
            }
        
        }
        
       







