$darkcolor: #5B5EA6;
$bgcolor: #f7f7f7;
$colored: #EFC050;
$white : white;
$gradbluecolor: linear-gradient(to right, #00B4DB, #0083B0);
$navsize: 60px;
$border-radius: 8px;
$speed: 500ms; 
html, body {
 height: 100%;
 width: 100%;
} 

body {
  margin: 0;
  
  font-family: -apple-system, BlinkMacSystemFont,  sans-serif, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html, body {
width:100%;
height: 100%;
} 
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: linear-gradient(to right, #00B4DB, #0083B0);;
  text-decoration: none;;
}

/* Top Navigation Bar */


/*remove selection effect*/
*::selection 
{
    background-color:transparent;
} 
*::-moz-selection
{
    background-color:transparent;
}
*
{        
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    /*IE10*/
    -ms-user-select: none;
    user-select: none;

    /*You just need this if you are only concerned with android and not desktop browsers.*/
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}    
// input[type="text"], textarea, [contenteditable]
// {

//     -webkit-user-select: text;
//     -moz-user-select: text;
//     -ms-user-select: text;
//     user-select: text;
// }


/*mixins */


@mixin iconButton($size, $bg,$svgsize, $svgbg) {
 width: $size;
  height: $size;
  background-color: $bg;
  padding: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: filter 300ms;
  border-radius: 50%;
    svg { 
  fill:  $svgbg;
  width: $svgsize;
  
  height: $svgsize;
}
  
}


@mixin miniMenuItem ($height, $bg,$hoverbg, $hoverfont) {
height: $height;
    margin: 5px;
    background-color: $bg;
  display: flex;
  align-items: center;
  border-radius: $border-radius;
  transition: background $speed;
  padding: 0.5rem;
    &:hover{
background-color: $hoverbg;
  color: $hoverfont;
   } 
}


.miniMenuItem-sidebar{
@include miniMenuItem (25px, $white,$white, $darkcolor);

    .text{margin-left: 40px;}
     
  
}


/* <nav> */
.navbar {
	position: fixed;
	top: 0;
	width: 100%;
  height: $navsize;
  background-color: $white;
  box-shadow: 0 4px 2px -2px $colored;
}

.logo-corner-head{
display: flex;
}
.user-corner-head{
	display: flex;
}
/* <ul> */
.navbar-nav {
  max-width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}


/* <li> */
.nav-item {
  width: $navsize * 0.8;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Icon Button */
.icon-button {
@include iconButton($navsize * 0.8, $white,25px, $darkcolor);
padding: 1px;
  margin: 2px;
}
.icon-button-noBorder{
  @include iconButton($navsize * 0.8, $white,20px, $darkcolor);
padding: 1px;
  margin: 2px;
}
.icon-button-menu{
@include iconButton($navsize * 0.5, $white,25px, $darkcolor);
padding: 1px;
  margin: 2px;
}
.avatar-sidebar{
 @include iconButton(80px, $bgcolor,70px, $darkcolor);
padding: 5px;
  margin: 0 auto;
}
.logo{
  margin-left: 30px;
}

.icon-button-menu:hover {
  filter: brightness(1.2);
}

  .CounterCart {
    position: relative;
    font-size: 14px;
    font-weight: bolder;
    color: white;
    top: 1px;
    left: -32px;
    background-color: red;
    margin: auto;
    border-radius: 99%;
    padding-right: 5px;
    padding-left: 5px;
    cursor: pointer;
    transition: 1s ease;
}

.headerContainer{
  position: absolute;
top: 0px;
left:0px;
width: 100%;
height: 100%;
background-color: black;
z-index: 2;
}
/* Dropdown Menu */

.dropdown {
  position: absolute;
  z-index: 200 ;
  top: 58px;
  width: 300px;
  transform: translateX(-45%);
  background-color: $white;
  border: 1px solid black ;
  border-radius: $border-radius;
  padding: 1rem;
  overflow: hidden;
  transition: height $speed ease;
  box-shadow: 5px 10px 18px #888888;
}

.menu {
  width: 100%;
}

.miniMenuItem-drop {
@include miniMenuItem (50px, $bgcolor,$darkcolor, $white);

}


.miniMenu-item .icon-button-menu {
  margin-right: 0.5rem;
}


.miniMenu-item .icon-button-menu:hover {
  filter: none;
}

.icon-right {
  margin-left: auto;
}