$darkcolor: #5b5ea6;
$bgcolor: #f7f7f7;
$colored: #efc050;
$white: white;
$gradbluecolor: linear-gradient(to right, #00b4db, #0083b0);
$navsize: 60px;
$border-radius: 8px;
$speed: 500ms;
$btnBg: linear-gradient(to right, #00b4db, #0083b0);
/* containers */
.mainContainerWheader {
	display: flex;
	margin-top: 70px;
}

/* buttons */

@mixin customBtnMixin($width, $btnBg) {
	width: $width;
	margin: 5px;
	height: 40px;
	font-size: 13px;
	background: $btnBg;
	color: white;
	// text-transform: uppercase;
	//  font-family: 'Open Sans Condensed';
	font-weight: bolder;
	border: none;
	cursor: pointer;
	border-radius: 5px;
	box-shadow: 1px 2px 3px #888888;

	transition:  .5s ease;
	&:hover {
		transition:  .5s ease;
		background: $colored;
		color: red;
		
	}
	outline: none;
}

.custum-btn-form {
	@include customBtnMixin(200px, $btnBg);
	margin-top: 7px;
	box-shadow: 1px 2px 3px #888888;
}

.customBtn {
	@include customBtnMixin(100px, $btnBg);
	
}

//<<<<<<< HEAD
//=======
//spiner for custom btn form

.loaderbTn {
	margin: 0 auto;
	border: 3.5px solid #f3f3f3;
	border-radius: 50%;
	border-top: 3.5px solid #3498db;
	width: 35px;
	height: 35px;
	-webkit-animation: spin 2s linear infinite; /* Safari */
	animation: spin 2s linear infinite;
}
.loaderCount {
	margin: 0 auto;
	border: 3.5px solid #f3f3f3;
	border-radius: 50%;
	border-top: 3.5px solid #3498db;
	width: 20px;
	height: 20px;
	-webkit-animation: spin 2s linear infinite; /* Safari */
	animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.loadingBtnDiv {
	opacity: 0.8;
	width: 200px;
	margin: 5px;
	height: 40px;
	font-size: 13px;
	background: linear-gradient(to right, #00b4db, #0083b0);
	color: white;
	text-transform: uppercase;
	font-family: "Open Sans Condensed";
	font-weight: bolder;
	border: none;
	cursor: pointer;
	border-radius: 5px;
	box-shadow: 1px 2px 3px #888888;
	margin-top: 7px;
}

/*  ------ */
//>>>>>>> 35f941a24a5062ba001b27223ee248d913c51f54

.custum-btn-form-fixed {
	position: fixed;
	font-size: 13px;
	background: linear-gradient(to right, #00b4db, #0083b0);
	color: white;
	text-transform: uppercase;
	font-family: "Open Sans Condensed";
	font-weight: bolder;
	border: none;
	cursor: pointer;
	border-radius: 5px;
	box-shadow: 1px 2px 3px #888888;
	margin-top: 20px;
	transition: 1s ease;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 40px;
	z-index: 120;
	// &:hover {
	// 	transform: scale(.9,.9);
	// }
}

.fb-btn {
	display: flex;
	margin: 8px;
	width: 40px;
	height: 40px;
	cursor: pointer;
	box-shadow: 5px 10px 18px #888888;
	transition: 1s ease;
	&:hover {
		transform: scale(1.2);
	}
}

.google-btn {
	display: flex;

	width: 40px;
	height: 40px;
	margin: 8px;
	cursor: pointer;
	box-shadow: 5px 10px 18px #888888;

	transition: 1s ease;
	&:hover {
		transform: scale(1.2);
	}
}

.btn-google {
	color: white;
	background-color: #ea4335;
	box-shadow: 5px 10px 18px #888888;
	margin-bottom: 20px;
}

.btn-facebook {
	color: white;
	background-color: #3b5998;
	box-shadow: 5px 10px 18px #888888;
}

//adjustItemCount
.AdjustItemCountCountainer {
	display: flex;
	flex-direction: row;
	width: 200px;
	height: 40px;
	justify-content: space-between;
	margin: 5px;
}

.increaseItemCount {
	font-size: 16px;
	background: linear-gradient(to right, #00b4db, #0083b0);
	color: white;
	width: 35px;
	outline: none;
	border: none;
	cursor: pointer;
	border-radius: 5px;
	box-shadow: 1px 2px 3px #888888;
	height: 40px;
	transition:  .5s ease;
	&:hover {
		transition:  .5s ease;
		background: $colored;
		color: red;
		
	}

}

.itemCount {
	
	width: 130px;
	text-align: center;
	height: 40px;
}

.decreaseItemCount {
	font-size: 16px;
	background: linear-gradient(to right, #00b4db, #0083b0);
	color: white;
	width: 35px;
	border: none;
	cursor: pointer;
	border-radius: 5px;
	box-shadow: 1px 2px 3px #888888;
	height: 40px;
	outline: none;
	transition:  .5s ease;
	&:hover {
		transition:  .5s ease;
		background: $colored;
		color: red;
		
	}
}

/*inputs  */

@mixin input-mixin($width, $bg) {
	font-size: 12pt;
	width: $width;
	transition: width 1s;
	height: 20px;
	/*margin-bottom: 1px;*/
	border: 1px solid rgba(81, 203, 238, 1);
	border-radius: 5px;
	padding: 10px;
	padding-right: 30px;
	padding-left: 30px;
	text-align: left;
	transition: 1s ease;
	background-color: $bg;
	&:focus {
		transition: 1s ease;
		border-radius: 5px;
		box-shadow: 0 0 5px #00ccff;
		border: 1px solid #0066cc;
	}
}

.juv-input-form-set {
	@include input-mixin(270px, #f7f7f7);
}

.input-label {
	margin-right: 5px;
}

.halfInput {
	@include input-mixin(100px, #f7f7f7);
}

.fullInput {
	@include input-mixin(250px, #f7f7f7);
}

.input-search-main {
	font-size: 12pt;
	width: 93%;

	height: 15px;
	margin: 0 auto;
	/*margin-bottom: 1px;*/
	border: 1px solid rgba(81, 203, 238, 1);
	border-radius: 10px;
	padding: 10px;
	// padding-right: 3px;
	// padding-left: 3px;
	text-align: left;
	background-color: #f7f7f7;
}
.input-search-main:focus {
	outline: none;
}
/* form containers */

.form-container-form {
	background-color: white;
	/* background: linear-gradient(#ddd6f3, #faaca8);*/
	margin-top: 5px;
	padding: 30px;
	margin-bottom: 20px;
	//border: 1px solid #0066cc;
	border-radius: 10px;
	flex-direction: column;
	display: flex;
	width: 390px;
	/*		height: 950px;*/
	/*	box-shadow: 0 0 5px rgba(81, 203, 238, 1); */
	padding: 10px 0px 3px 3px;
	padding-bottom: 30px;
	//	border-color: ff622eff;
	/*box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6); */
	align-items: center;
	justify-content: center;
	//box-shadow: 5px 10px 18px #888888;
}
/*pages and containers and flex*/

.top-container {
	width: 100%;
	height: 100%;
	display: flex;
}

.flex {
	display: flex;
}
.flex-row {
	display: flex;
	flex-direction: row;
}
.centerflex {
	justify-content: center;
}

.marginTopBottom20 {
	margin-top: 20px;
	margin-bottom: 20px;
}

.paddingTopBottom20 {
	padding-top: 20px;
	padding-bottom: 20px;
}
.paddingBottom20 {

	padding-bottom: 20px;
}

.icon-s {
	width: 25px;
	height: 25px;
	cursor: pointer;
}

.centerdiv {
	margin: 0 auto;
}

.svg-darkbg {
	svg {
		fill: $darkcolor;
	}
}

.hoverscalein {
	transition: 1s ease;
	&:hover {
		transform: scale(0.9, 0.9);
	}
}

.header-container {
	position: relative;

	z-index: 170;
}

.margin0 {
	margin: 0 auto;
}
