.input-text-auth {
	font-size: 12pt;
	width: 290px;
	transition: width 1s;
	height: 30px;
	margin-bottom: 1px;
	border: 1px solid rgba(81, 203, 238, 1);
	border-radius: 2px;
	padding: 10px;
	padding-right: 30px;
	padding-left: 30px;
	text-align: left;
	
}

.input-text-auth:focus {
	width: 310px;
	box-shadow: 0 0 5px #00ccff;
	border: 1px solid #0066cc;
}

.label-auth {
	text-align: right;
	display: block;
	margin-bottom: 5px;
	font-weight: 700;
	color: #753a88;
}