.TableList-container{
    display: flex;
    max-height: 100%;
    flex-direction: column;
    width: 100%;
   /* overflow: auto;*/
    border: 1px solid black;
    margin: 5px;
   
}


.TableList {
   
    height: 100px;
    width: 100%;
   /* overflow: auto;*/
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    
}

.TableList td, .productsList-table th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .TableList tr:nth-child(even){background-color: #f2f2f2;}
  
  .TableList tr:hover {background-color: #ddd;}
  
  .TableList th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #0083B0;
    color: white;
  }