
.comment-review{
    
    background-color: #f7f7f7;
    border-radius: 15px;
    
    padding:8px;
    margin-bottom:5px;
text-align: left;
}

.StarRatingsContainer{

}

.bold{
font-weight: bold;
margin: 0px;
padding: 0px;
text-align: left;
}
.comment-rev {
margin: 0px;
padding: 0px;
text-align: left;
} 

.reviewCommentInput{
    
    border-radius: 8px;
    background-color: #f7f7f7;
    
}

.reviewsMenu {
height: 500px;
overflow: scroll;

} 