
.comment-review{
    
    background-color: #f7f7f7;
    border-radius: 8px;
    
    padding:12px;
    margin-bottom:5px;

}
.bold{
font-weight: bold
}

.reviewCommentInput{
    height:150px;
    border-radius: 8px;
    
}