
.backLoading {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0px;
  opacity: 0.8;

  left: 0;
  background: white;
  cursor: default;
  z-index: 190;
  transform: translateX(0);
}
.back.open {
  box-shadow: 5px 10px 18px black;
  transform: translateX(0);
}