.ProductPic {
    background-color: white;;
}

.product-img{
    display:flex;
    height:300px;
    width:250px;
    margin: 0px;
 padding: 0px;
    }


    .share-icons-product {
        display:  flex;
        flex-direction: row;
        text-align: center;
        padding-left: 50px;
    }