.sidebar {
height : 2000px;
width: 70%;
position: fixed;
top: 65px;
left: 0;
background : white;
border:  0.5px solid black;
z-index: 200;
transform: translateX(-100%);
  transition: transform 0.3s ease-out;
} 

.sidebar.open{
transform: translateX(0);
}  