.adminPage {
   display: flex;
   flex-direction: row;
   width: 100%;
 //  background-color: red($color: #000000);

 }

.admin-nav{
display: flex;
border-right: 1px solid black;
margin: 5px;
width: 30%;
  ul {
    list-style-type: none;
    padding-left: 1px;
    width: 100%;
   // border: 1px solid black;
    text-align: left;
    li {
      border: 1px solid black;
      margin: 10px;
      width: 200px;
      //width: 100%;
      padding-right: 20px ;
      font-weight: bold;

      .NavLinkAdmin {
        width: 220px;
       // padding-right: 70px ;
       border: 1px solid black;
        padding-left: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
      }

    }
}

text-align: center;
padding: 3;
  
 }

.admin-nav-container{
display: flex;
}