.adminPage {
   display: flex;
   flex-direction: row;
   width: 100%;
 //  background-color: red($color: #000000);

 }

.admin-nav{
display: flex;
flex-direction: column;
border-right: 1px solid black;
margin: 5px;
width: 30%;


      .NavLinkAdmin {
      display: flex;
        width: 220px;
       // padding-right: 70px ;
       border: 1px solid black;
        padding-left: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
      }

    

text-align: center;
padding: 3;
  
 }

.admin-nav-container{
display: flex;
}