.adminPage {
   display: flex;
   flex-direction: row;
   width: 100%;
 //  background-color: red($color: #000000);

 }

.admin-nav{
display: flex;
flex-direction: column;

margin: 5px;
width: 30%;


      .NavLinkAdmin {
      display: flex;
        min-width: 100%;
       // padding-right: 70px ;
       border: 1px solid black;
       padding-left: 19px;
       padding-top: 10px;
        padding-bottom: 10px;
        background-color: white;
      }

    

text-align: center;
padding: 3;
  
 }

.admin-nav-container{
  width: 70%;
margin: 20px;
margin-top: 5px;
margin-right: 5px;
border: black solid 1px;
display: flex;
padding: 5px;
}