a {
	/*refering to Link*/
	text-decoration: none;
}

.header {
	display: flex;
	flex-direction: column;
	width: 100%;
	background: #ffffff;
	position: fixed;
	top: 0;
}

.cartCounter{
	position: relative;
	font-size: 17px;
	font-weight: bolder;
	color: white;
	top: -10px;
    left: 120px;
    background-color: red;
    margin: auto;
	border-radius: 99%;
	padding-right: 5px;
	padding-left: 5px;
	cursor: pointer;
	transition:  1s ease;
	
	&:hover {
		transform: scale(1.1);
	}
}

.logo-Container {
	display: flex;
	padding: 12px;
	flex-direction: row;
	justify-content: space-between;
	max-width: 100%;
	height: 26%;
	/*	background: #f7f7f7;*/
	background: white;
	/*linear-gradient(to right,  #0066cc , #00ccff);*/
}

.carticon {
	width: 30px;
	height: 30px;
}

.menuicon {
	width: 25px;
	height: 25px;

	cursor: pointer;
	
	
	transition:  1s ease;
	&:hover {
		transform: scale(1.2);
	}
}

.logo-container-left, .logo-container-right {
	display: flex;
	flex-direction: row;
	padding: 5px;
}

.fa-bars, .fa-shopping-cart, .fa-user {
	display: flex;
	font-size: 1.6em;
	padding-right: 3px;
	color: black;
	/*linear-gradient(to right,  #0066cc , #00ccff);*/
}

.logo {
	display: flex;
	height: 27px;
	width: 90px;
	padding-left: 10px;
	transition:  1s ease;
	&:hover {
		transform: scale(1.1);
	}
}

.signin-link {
	display: flex;
}

.signin-text {
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	color: black;
}

.cartSection .icontext {
	cursor: pointer;
}
.cart-Section {
display: flex;
}


.searchbox-container {
	display: flex;
}

/* start menu*/

.menu-items {
	display: flex;
	flex-direction: row;
	/*		justify-content: center; 
		/*because it hidden the first element 
		/**/
	overflow: auto;
	/*flex-wrap: wrap;*/
	margin: 5px;
	/*background: #f7f7f7;*/
	background: #f7f7f7;
}

.section-menu {
	display: flex;
	flex-direction: column;
	padding: 5px;
	background: #ffffff;
	margin: 0;
	border-radius: 5px;
}

.section-title {
	text-align: right;
	border-radius: 10px 10px 0px 0px;
	color: #ffffff;
	margin: 3px;
	max-width: 100%;
	background: #3b5998;
	Background: linear-gradient(to right, #00B4DB, #0083B0);
	padding: 5px;
	box-shadow: 2px 5px 9px #888888;
}

/* icon text*/

.icontext {
	display: flex;
	flex-direction: row;
	margin-right: 3px;
}

.cartSection {
	display: flex;
	flex-direction: row;
	cursor: pointer;
}

.icontext-text {
	display: flex;
	font-size: 13px;
	margin: 0;
	text-decoration: none;
	font-weight: bold;
	margin-right: 5px;
    color: rgba(102, 10, 223, 0.76);
}

.h25w25 {
	width: 25px;
	height: 25px;
}

.icontext-icon {
	display: flex;
	width: 25px;
    height: 25px;
    margin-right: 5px;
    
}

.icontext-icon-cart {
	display: flex;
	width: 25px;
	height: 25px;
}

.margin-right10 {
	
}

.item {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	min-height: 175px;
	min-width: 175px;
	background: white;
	margin: 1px;
	box-shadow: 0 0 1px;
	border-radius: 5px;
}

.itembb {
	display: flex;
	flex-direction: column;
	align-content: center;
	align-items: center;
	justify-content: center;
	margin: 1px;
	border: 1px solid black;
}

.item-title {
	display: flex;
	font-size: 15px;
	font-weight: bold;
	margin: 0px;
	padding: 0px;
}

.item-before-price {
	display: flex;
	text-decoration: line-through;
	color: red;
	font-size: 15px;
	margin: 0px;
	padding: 0px;
}

.item-price {
	display: flex;
	margin: 0px;
	padding: 0px;
	font-size: 15px;
	font-weight: bold;
}

.item-img {
	display: flex;
	height: 90px;
	width: 90px;
	margin: 0px;
	padding: 0px;
}